/.bundle/
/vendor/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem
*.rbc
.DS_Store
.env
.env.*
!.env.example
examples/rails_app/tmp/
examples/rails_app/log/
examples/rails_app/storage/
examples/rails_app/config/master.key
examples/rails_app/config/credentials.yml.enc
Gemfile.lock
